SECRET_KEY=replace-with-secure-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
INTERNAL_IPS=127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=askme
DB_USER=askme
DB_PASSWORD=askme
DB_HOST=127.0.0.1
DB_PORT=5432